.single_post_page {
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .post {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .post {
      width: 600px;
      margin: auto;
    }
  }
  
  .post_title {
    margin: 0;
  }
  
  .post_details {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .post_details {
      flex-direction: row;
    }
  }
  
  .post_detail {
    color: rgb(88, 88, 88);
    margin: 0 10px;
  }
  
  .post_feedback a {
    color: red;
    text-decoration: none;
  }
  
  .post_feedback a:hover,
  .post_feedback a:active {
    color: salmon;
  }